<mat-toolbar color="primary">
    <span><a routerLink="/create-list"><img src="../../assets/images/avtar.png.png" alt="avtar" class="avtar"></a></span>
    <span class="spacer"></span>
    <ul>
        <!-- <li *ngIf="userisAunthenticated">
            <a mat-button routerLink="/create-list" routerLinkActive="mat-accent">Add List</a>
        </li> -->
        <li *ngIf="!userisAunthenticated">
            <a mat-button routerLink="/" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userisAunthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
        </li> 
        <li *ngIf="userisAunthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>