<div class="create">
    <div class="create-comments" >
        <h2 style="margin: auto;text-align: center;">Please add employee here...</h2>
        <mat-card>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
           <form [formGroup]="form" (submit)="onSaveList()"  *ngIf="!isLoading">
            <mat-form-field>
                <input matInput
                 type="text"
                 name="title"
                formControlName="title"
                placeholder="Add Name Here"
               >
                <mat-error *ngIf="form.get('title').invalid">Please enter name</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea 
                matInput 
                formControlName="content"
                rows="4" 
                placeholder="Add Designation Here"
                ></textarea>
                <mat-error *ngIf="form.get('content').invalid">Please enter designation</mat-error>
            </mat-form-field><br>
            <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">Save Employee</button>
            <button mat-raised-button [routerLink]="['/list']" style="float: right;">Back</button>
           </form>
        </mat-card>
    </div>
    
</div>