:host {
    display: block;
     margin-top: 1.5rem; 
}

mat-spinner {
    margin: auto;
}
table {
    width: 100%;
  }

/* mat-expansion-panel {
    margin:0.5em;
}
.avtar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
} */